.chef {
    height: auto;
    width: 600px;
}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    background-color: rgb(250, 226, 226);
    text-align: center;
}